.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  .popup-content {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
  }
  
  .popup-content h2 {
    margin: 0 0 10px;
  }
  
  .popup-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .popup-content button {
    margin-right: 5px;
    background-color: green;
    color: white;
    border: green;
    margin-top: -11px;
  }


  .popup-header {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .popup-close {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #888;
    margin-left: 365px; /* Add some spacing between the "X" and the title */
  }
  
  .popup-close:hover {
    color: #f00; /* Red color on hover */
  }
  
  h4 {
    margin: 0; /* Remove default margin to keep the title aligned with the close button */
  }
  